
html, body {
	margin: 0;
	padding: 0;
	background: #222;
	font-family: Arial, Helvetica, sans-serif;
	color: #ccc;
}

h1,h2,h3,h4,h5,p,div,ul,li,table,tr,td,label,input {
	color: #ccc;
}

ul { 
	margin: 0 0 10px 0;
	padding: 0;
}
li {
	list-style-type: none;
}

.top-bar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background: #121212;
}

.menu-text {
	font-family: 'OptimusPrinceps', Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    line-height: 0.6em;
}

.has-tip {
    border: 0;
    outline: none;
}

.bonfire {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    border: 0;
    opacity: 0.2;
}

#content {
    position: relative;
    z-index: 0;
    margin-top: 90px;
	margin-bottom: 320px;
}

.main-form {
	border: 1px solid #666;
	background: #454545;
	border-radius: 2px;
    padding: 20px;
}
.main-form .input-group {
    margin-bottom: 0;
}
.main-form .button {
    margin-bottom: 0;
}

.page {
	position: relative;
	z-index: 2;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	padding: 10px;
	z-index: 1;
	background: #121212;
}

.cr-result {
	background: #454545;
	border: 1px solid #666;
	border-radius: 2px;
	padding: 10px 20px;
	margin-bottom: 20px;
}
.cr-result ul {
	margin-top: 10px;
}
.cr-result li {
	display: inline-block;
	padding: 5px;
	margin: 10px;
	background: #777;
	border: 1px solid #454545;
	border-radius: 2px;
	color: #f6f6f6;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	transition: .2s all;
}
.cr-result li:hover {
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	transition: .2s all;
}
.cr-result li.easy {
	background: #008cba;
	border-color: #007ba0;
}
.cr-result li.medium {
	background: #43ac6a;
	border-color: #3a945b;
}
.cr-result li.hard {
	background: #f08a24;
	border-color: #de770f;
}
.cr-result li.insane {
	background: #ff4a14;
	border-color: #ee3706;
}

#modifiers {
	margin: 5px 5px 20px 5px;
	background: #454545;
	border: 1px solid #666;
	border-radius: 2px;
}


@media (max-width: 768px) {
    .menu-text {
        font-size: 1em;
    }
}
